@CHARSET "ISO-8859-1";


:root
{
	--raisin-black: #272727;
    --floral-white: #f9fbf2;
    --orange-yellow: #fed766;
    --british-racing-green: #004425;
    --sweet-sweet-brown: #a53f2b;
    --inline-width: 40%;
}

#Title{
	text-align: center;
	padding:0em 0.2em 0em 0.2em;
	display:inline-block;
	background-color:var(--british-racing-green);
	color:var(--floral-white);
	border:3px; 
	border-style:solid; 
	border-color:var(--sweet-sweet-brown); 
	padding: 0.1em;
}
#description{
	text-align: center;
	display:inline-block;

	color:var( --sweet-sweet-brown);
	
}
.tableHeader{
	margin: auto;
  display:table;         
  width:auto;         
  background-color:#004425;         
  border:1px solid  #a53f2b;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
  Color: var(--floral-white);
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;         
}
.tableContents{
	margin: auto;
  display:table;         
  width:auto;         
  background-color:#fed766;         
  border:1px solid  #a53f2b;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
  Color: var(--raisin-black);
}
.headings{
	display:inline-block;
}
.titleText{
	background-color: var(--british-racing-green);
	Color: var(--floral-white);
	padding:0em 0.2em 0em 0.2em;
	
	
}