@charset "ISO-8859-1";
/*
raisin black = #272727
floral white = #f9fbf2
orange yellow = #fed766
british racing green = #004425
sweet sweet brown = #a53f2b
*/

html {
  background-color: #F9FBF2
}
header {
  background-color: #004425
}
body{
  height:100%;
  min-width: 350px;
}
.main-content {
  width: 80%;
  margin: auto;
}
#container{
  min-height: 100%;
  position:relative;
}

.nav-banner {
  /*width: 100%;
  display: inline-block;*/
}

/* DESKTOP HEADER  */
.nav-desktop-logo {
  max-width:100px;
  max-height: 100px;
}
.nav-banner-desktop-left {
}
.nav-banner-desktop-right-search {
  width: 80%;
  margin:auto;
  margin-top: 30px;
}
.nav-banner-desktop-right-search-button {
  width: 8%;
  margin:auto;
  margin-top: 30px;
}
.nav-banner-desktop-centre {
}
.nav-banner-desktop-right {
}
.nav-banner-desktop-right-button {
  float: right;
  margin: 30px 10px 20px 10px;
}
/* DESKTOP HEADER - END  */

/* DESKTOP NAVIGATION */
#nav-desktop ul {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: #004425;
}
#nav-desktop li {
  float: left;
}
#nav-desktop .dropdown-all-buttons {
  width: 80%;
  margin:auto;
}
#nav-desktop .dropdown-category {
  display: inline-block;
  width: 12.5%;
  text-align: center;
}
#nav-desktop .dropdown-category:hover .dropdown-content {
  display: block;
}
#nav-desktop .dropdown-category:hover .dropdown-button {
  background-color: #F9FBF2;
  color: #004425;
}
#nav-desktop .dropdown-button {
  display: inline-block;
  background-color: #004425;
  color: #F9FBF2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
#nav-desktop .dropdown-button:hover {
  background-color: #F9FBF2;
  color: #004425;
}
#nav-desktop .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9FBF2;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#nav-desktop .dropdown-sub-button {
  display: block;
  background-color: #F9FBF2;
  color: #004425;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: left;
}
#nav-desktop .dropdown-sub-button:hover {
  background-color: #004425;
  color: #F9FBF2;
}
/* DESKTOP NAVIGATION - END */

/* MOBILE HEADER  */
#header-mobile .header-mobile-list {
  width: 100%;
  max-height: 50px;
  margin:auto;
  padding: 0px 0px 0px 0px;
}
#header-mobile .header-mobile-item {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  height: 100%
  padding: 0px 0px 0px 0px;
}
#header-mobile .nav-mobile-logo {
  max-width:40px;
  max-height: 40px;
}
#header-mobile .nav-banner-mobile-right-search {
  width: 40%;
  margin:auto;
}
#header-mobile .nav-banner-mobile-right-search-button {
  width: 10%;
  min-width: 25px;
  margin:auto;
}
#header-mobile .nav-banner-mobile-right-button {
  width: 10%;
  min-width: 25px;
  margin: auto;
}
/* MOBILE HEADER - END  */

/* MOBILE NAVIGATION */
.button-burger-nav {
  width: 10%;
  min-width: 25px;
  margin: auto;
}
.button-burger-nav-selected {
  background-color: #F9FBF2;
  color: #004425;
}
.mobile-nav-menu{
  display: none;
}
.mobile-nav-list{
  background: #004425;
  padding-left: 0px;
  width: 100%;
  text-align: center;
  list-style-type: none;
}
.mobile-dropdown-button {
  color: #F9FBF2;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
}
.mobile-dropdown-button:hover {
  background-color: #F9FBF2;
  color: #004425;
}
/* MOBILE NAVIGATION - END */

/* FOOTER STYLING - START */
#footer-left{
  padding-top: 15px;
  padding-right: 10px;
  text-align: left;
}
footer a{
  color: #F9FBF2;
}
#footer-right{
  text-align: right;
}
#footer-left a {
  text-decoration: none;
  font-size: 35px;
}
#footer-centre {
  padding-top: 15px;
}
#footer-right a{
  text-decoration: none;
}
#footer-right a:hover{
  text-decoration: underline;
}
footer {
  bottom: 0;
  width: 100%;
  text-align: right;
  background-color: #004425;
  color: #F9FBF2;
}
footer ul {
  width:100%;
  list-style:none;
}
footer ul li {
  float:left;
  width:150px;
  font-weight:bold;
}
footer ul li ul {
  padding:0;
}
footer ul li ul li {
  float:none;
  padding:5px 0;
  font-weight:normal;
}
/* FOOTER STYLING - END */
