/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 400px;
  height: 350px;
  background-color: #004425;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
}

.item{
  padding: 2px;
  position: absolute;
  background: #f9fbf2;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width:95%;
  text-align: center;
}

.categoriesbutton{
  float: left;
  width:30%;
  background: #f9fbf2;
  padding: 4px;
  margin: 10px;
  border: 5px ridge;
  border-color: #a53f2b
}

.subcategoriesbutton{
  float: left;
  background: #f9fbf2;
  padding: 4px;
  margin: 10px;
  border: 5px ridge;
  border-color: #a53f2b;
}

a.subcategorieshyperlink:link{
  text-decoration: none;
  color: #272727;
}

a.subcategorieshyperlink:hover{
  background-color:#fed776;
}
