:root
{
	--raisin-black: #272727;
    --floral-white: #f9fbf2;
    --orange-yellow: #fed766;
    --british-racing-green: #004425;
    --sweet-sweet-brown: #a53f2b;
    --inline-width: 40%;
}

.styled-select select {
  background: transparent;
  width: 240px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}
.header-row {
	font-size:130%;
	font-weight: bold;
	text-align: justify;
	background-color: var(--british-racing-green);
	color: var(--floral-white);
	border-style: solid;
	border-width: 2px;
	border-color: var(--sweet-sweet-brown);
	margin: auto;
	display: block;
	width: auto;
	text-align: centre;
	height: 35px;
}

.product-row{
  margin: auto;
  width: auto;
  display:block;
  text-align: center;
  box-sizing: border-box;
  height: 20px;
}
.page-title h2{
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #004425;
}
