@CHARSET "ISO-8859-1";
.navinav{
	max-width:100%;
}


.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
  min-width:100%;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:auto;         
  background-color:#ccc;  
}

body {
  background: #F9FBF2;
}
h2 {
  text-align: center;
}
.header-row{
	background-color: #004425;
	color:#F9FBF2;
	border-bottom: 5px;
	border-bottom-color:  #a53f2b;
	border-bottom-style: solid;
	font-weight: bold;
	font-size: 130%;
}

.button {
  font-size: 1em;
  padding:none;
  border:none;
  border-radius: 20px/50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #a53f2b;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #a53f2b;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.buttons {
    background-color: #f9fbf2;
    border: none;
    color:#004425;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    list-style: none;
}
.edit-header{
	display: inline-block;
	min-width: 40px;
	width: 100px;
}

.button1 {
    background-color: #f9fbf2;
    border: none;
    color:#004425;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
.add-button{
	float: right;
	margin-right: 3%;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}