@CHARSET "ISO-8859-1";


:root
{
	--raisin-black: #272727;
    --floral-white: #f9fbf2;
    --orange-yellow: #fed766;
    --british-racing-green: #004425;
    --sweet-sweet-brown: #a53f2b;
    --inline-width: 40%;
}

.description{
	text-align:left;
	color:  #a53f2b;
	font-size: 130%;	
}
.table-head{
	font-size: 130%;
	font-weight: bold;
	color: #f9fbf2;
	background-color: #004425;
	border-bottom: 5px;
	border-bottom-color: #a53f2b;
	border-bottom-style: solid;
}
.sliderItem
{
	display:inline-block;
}