@CHARSET "ISO-8859-1";


:root
{
	--raisin-black: #272727;
    --floral-white: #f9fbf2;
    --orange-yellow: #fed766;
    --british-racing-green: #004425;
    --sweet-sweet-brown: #a53f2b;
    --inline-width: 40%;
}
.page-title{
	text-align: center;
}
.description{
	text-align: center;
	color:var( --sweet-sweet-brown);
	font-size: 130%;	
}
.table-head{
	font-size: 130%;
	font-weight: bold;
}
.table-row{
	margin: 0;
}
.index-checkbox{
	colour: green;
	width: 130%;
	height: 130%;
	background: #004425;
}