/*
raisin black = #272727
floral white = #f9fbf2
orange yellow = #fed766
british racing green = #004425
sweet sweet brown = #a53f2b
*/

.updatestocklowlimit{ display: none;}
.save_lowlimit{display: none;}
.cancel_lowlimit{display: none;}
.update_stocklevel{display: none;}
.save_stocklevel{display: none;}
.cancel_stocklevel{display: none;}
.update_price{display: none;}
.save_price{display: none;}
.cancel_price{display: none;}
.section-header{
	font-weight: bold;
	font-size: 130%;
}
.edit-button{
	float: right;
}
.description-input{
	width: 100%;
}
.editdescription{display: none;}
.save_desc{display: none;}
.cancel_desc{display: none;}

.slider-product-image{
	height:50%;
}
.slider-basket-button{
	color: #004425;
	text-align: center;
	width: 100%;
	align-content: center;
	padding-bottom: 1%;
	font-weight: bold;
}
.sliderItem
{
	display: inline-block;	
}
.product-image{
	width:80%;
	height:80%;
}