:root
{
	--raisin-black: #272727;
    --floral-white: #f9fbf2;
    --orange-yellow: #fed766;
    --british-racing-green: #004425;
    --sweet-sweet-brown: #a53f2b;
    --inline-width: 40%;
}
#empty-purchase-order-text{
	font-size: 130%
}
.pageheading{
	margin-bottom: 0px;
}
.table-header{
	background-color: #004425;
	font-size: 130%;
	font-weight: bold;
	color:  #f9fbf2;
	border-bottom: solid;
	border-bottom-color: #a53f2b;	
	border-width: 5px;
}
.clear-button{
	float:right;
}
.input-box{
	width: 50%;
}