/*
raisin black = #272727
floral white = #f9fbf2
orange yellow = #fed766
british racing green = #004425
sweet sweet brown = #a53f2b
*/

.search{
	margin: auto;
}

.searchinput{
	margin-left: 30%;
	font-size:18px;
	color: #272727;
	width:20%;
	height: 30px;
	background-color: #f9fbf2;
	border: 1px;
	border-radius: 2px;
}

select{
	margin-left:2px;
	margin-right:2px;
	height:30px;
	width:10%;
	background-color: #f9fbf2;
	border-radius: 2px;
}

.searchbutton{
	width:10%;
	height: 30px;
	border:2px;
	border-color:  #f9fbf2;
	border-style: solid;
	font-weight: bold;
	font-size:14px;
}