.updatename{
	display: none;
}
.closeedit_name{
	display: none;
}
.updateaddressLine1{
	display: none;
}
.closeedit_addressLine1{
	display: none;
}
.updateaddressLine2{
	display: none;
}
.closeedit_addressLine2{
	display: none;
}
.updatepostcode{
	display: none;
}
.closeedit_postcode{
	display: none;
}
.updatephone{
	display:none;
}
.closeedit_phone{
	display:none;
}