.nav-logo-ims {
	max-width: 100px;
	max-height: 100px;
}

.banner-left {
	background-color: #004425;
	display: inline-block;
}

.banner-center {
	background-color: #004425;
	position: center;
}

.notification-center {
	background-color: #004425
}

.notification-icon {
	font-size: 200%;
}

.noti-ims {
	max-width: 40px;
	max-height: 40px;
}
h1{
	text-align:center;
}
.not-logged-in{
	position:absolute;
	left:50%;
	top:50%;
	}
