.progress-bar{
	text-align: center;
	vertical-align: center;
}

.page-title{
	text-align: center;
	vertical-align: center;
}
@media screen and (max-width: 700px) {
.basket_header{
	display:none
}}
.basket_small_header{
	display:none
	}

@media screen and (max-width: 700px){
.basket_small_header{
	display:block
	}
}


.basket-bottom-right{
	text-align: center;
	vertical-align: top;
}
.basket-button{
	margin: 5px 5px 5px 0px
}
.basket-image{
	height:200px;
	width: 100px;
}
.basket-row{
	margin-top: 50px;
}
.basket-empty{
	padding-left:20%;
	font-size: 100%;
	font-weight: bold;
}

.invis{
	height: 1px;
}