.progress-bar{
	text-align: center;
	vertical-align: center;
}

.page-title{
	text-align: center;
	vertical-align: center;
}

.basket-bottom-right{
	text-align: center;
	vertical-align: top;
}
.basket-button{
	margin: 5px 5px 5px 0px
}
.basket-image{
	height:50px;
}
.basket-row{
	margin-top: 50px;
}
.basket-empty{
	padding-left:20%;
	font-size: 100%;
	font-weight: bold;
}

.invis{
	height: 1px;
}